{% assign _settings = section.settings %}

{{ 'hero.min.css' | asset_url | stylesheet_tag }}

<main-hero>
  <div class="c-hero">
    <div>
      <picture class="c-hero__background">
        <source media="(min-width: 1024px)" srcset="{{ _settings.image_desktop | img_url: 'master' }}">
        <img src="{{ _settings.image_mobile | img_url: 'master' }}" width="{{ section.image_mobile.width }}" height="{{ section.image_mobile.height }}" alt="">
      </picture>
    </div>
    <div class="o-container">
      <div class="c-hero__content c-hero__content--{{ _settings.content_alignment }}">
        <h1 class="c-hero__heading">{{ _settings.heading }}</h1>
        <div class="c-hero__copy">{{ _settings.copy }}</div>
        {% unless section.blocks == blank %}
          <ul class="c-hero__btns">
            {% for block in section.blocks %}
              {% liquid
                assign url = block.settings.url
                assign text = block.settings.text
              %}
              {% unless url == blank or text == blank %}
                <li>
                  <a class="c-btn c-btn--{{ block.settings.style }}" href="{{ block.settings.url }}"{% if block.settings.external%} target="_blank"{% endif %}>
                    {{ block.settings.text }}
                  </a>
                </li>
              {% endunless %}
            {% endfor %}
          </ul>
        {% endunless %}
      </div>
    </div>
  </div>
</main-hero>

<script src="{{ 'hero.min.js' |  asset_url }}" defer></script>

{% schema %}
  {
    "name": "Main Hero",
    "settings": [
      {
        "type": "image_picker",
        "label": "Background Image (Mobile)",
        "id": "image_mobile"
      },
      {
        "type": "image_picker",
        "label": "Background Image (Desktop)",
        "id": "image_desktop"
      },
      {
        "type": "text",
        "label": "Heading",
        "id": "heading"
      },
      {
        "type": "inline_richtext",
        "label": "Copy",
        "id": "copy"
      },
      {
        "type": "select",
        "label": "Content Alignment",
        "id": "content_alignment",
        "options": [
          {
            "value": "top-left",
            "label": "Top Left"
          },
          {
            "value": "center-left",
            "label": "Center Left"
          },
          {
            "value": "bottom-left",
            "label": "Bottom Left"
          },
          {
            "value": "center-center",
            "label": "Center Center"
          }
        ],
        "default": "center-center"
      }
    ],
    "blocks": [
      {
        "type": "link",
        "name": "Link",
        "settings": [
          {
            "type": "text",
            "label": "Link Text",
            "id": "text"
          },
          {
            "type": "url",
            "label": "Link URL",
            "id": "url"
          },
          {
            "type": "checkbox",
            "label": "Open in new tab?",
            "id": "external"
          },
          {
            "type": "select",
            "label": "Link Style",
            "id": "style",
            "options": [
              {
                "value": "primary",
                "label": "Primary"
              },
              {
                "value": "secondary",
                "label": "Secondary"
              }
            ],
            "default": "primary"
          }
        ]
      }
    ],
    "max_blocks": 2,
    "presets": [
      {
        "category": "Hero",
        "name": "Main Hero"
      }
    ]
  }
{% endschema %}